body {
	background-image: url(images/bg.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h4 { 
	margin: 5px 0;

}

#logo{
	z-index: -1;
	position: fixed;
	right: 0;
	bottom: 0;
}

#main{
	background-color: #0000005e;
	padding: 5px;
	border-radius: 5px;
	border: 1px #888261 solid;
	width: fit-content;
}

#menu{
	float: left;
	color: aliceblue;
}

.step{
	clear: both;
}

.stepNum{
	float: left;
}

.previewImage{
	width: 100px;
}

#findCardForm{
	color: aliceblue;
	display: none;
	width: 90%;
	background-color: #000000d6;
	position: absolute; 
	top: 50px;
	left: 5%;
	padding: 10px;
	border-radius: 7px;
}

#searchCardInput{
	width: 100%;
	height: 21px;
	margin-bottom: 7px;
}

#findCardClose{
	cursor: pointer;
	float: right;
}

#findCards {
  clear: both;
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

#findCards img {
	margin: 2px;
	cursor: pointer;
}

#silhouetteCanvas{
	margin-left: 10px;
}

.buttonedTextBox{
	width: max-content;
	line-height: 21px;
}

.buttonedTextBox div{
	float: right;
	background-color: #babdb2;
	border-radius: 0px 5px 5px 0px;
	margin-left: 5px;	
	line-height: 20px;
}

.buttonedTextBox i{
	vertical-align: text-bottom;
    padding: 0 2px;
    color: #404040;
}

#searchCardInput .buttonedTextBox{
	float: left;
}


.sideCard{
	width: 35px;
	cursor: pointer;
}